* {
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    background: linear-gradient(green, gold, grey);
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    text-align: left;
}

main {
    height: 100%;
    background-color: rgba(255,255,255, .4);
}

h1, h2, p {
    margin: 15px 0;
}

p {
    font-size: 20px;
}

img {
    width: 100px;
}

.shields {
    display: grid;
    gap: 25px ;
    grid-template-columns: repeat(5, 1fr);
    scale: 0.75;
}

.shields div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid green;    
    height:200px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

button {
    background-color: lightgreen;
    border: green 3px solid;
    border-bottom: rgb(0,40,0) 3px solid;
    border-right: rgb(0,40,0) 3px solid;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(0, 40, 0);
    margin: 20px 0;
    height: 40px;
}

@media screen and (max-width: 1024px) {
    .shields {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .shields {
        grid-template-columns: repeat(2, 1fr);
    }
}

input {
    width: 25%;
}